.disg_section_black {
    background-color: rgba(0,0,0,1);
    color: white;
    
  }

  .disg_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .disg_section_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 45px;
    text-align: center;
    max-width: 700px;
  }
  
  .disg_section_content_title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.8px;
  }

  .disg_section_content_title:after {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: rgb(235, 95, 74);
    margin: 1.5rem auto;
}

.button_black {
    width: 150px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 50px;
    margin: 30px;
    text-align:center;
    letter-spacing: 1.2px;
    border: 1px solid white;
    background-size: 400% 100%;
    border-radius: 5px;
    background-color: transparent;
    transition: all .4s ease-in-out;
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


.button_black:hover {
    border-color: rgb(235, 95, 74);
    color:rgb(235, 95, 74);
    transition: all .4s ease-in-out;
}

.button_black:focus {
  outline: none;
}

.disg_section_logo {
    height: auto;
    width: 35%;
    color: black;
    display: flex;
    align-items: center;
    opacity: 0.8; 
    filter: grayscale(100%);
    margin: 0 0 0 10%;
   
  }

  #disg_picture {
    height: 100%;
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
    opacity: 0.8; 
    filter: grayscale(100%);
    margin: 0;
    object-fit: fill;
  
  }