.nutzen_wrapper {
    display: flex;
    flex-direction: row;
    background: linear-gradient(-90deg, rgba(235,95,74,0.8) 0%, rgba(235,95,74,0.9) 45%, rgba(235,95,74,0.95) 100%);
    color: white;
    padding-left: 80px; 
    padding-top: 45px;
    padding-bottom: 45px;
}

.nutzensection_header {
    display: flex;
    padding-top: 75px;
    padding-left: 45px;
    justify-content: center;
    letter-spacing: 1.9px;
    width: 30%; 
    
}

.nutzensection_header h2 {
    font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.nutzensection_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    padding: 30px 100px 40px;  
}

.nutzensection_card {
    width: 45%;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    margin: 15px; 
    background-color: black;

}

.nutzensection_card_title {
    display: flex;
    flex-direction: column;
}
.nutzensection_card_title:after {
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: rgb(235, 95, 74);
    margin: 1.5rem auto;

}

.nutzensection_card:hover {
    background-color: rgb(42, 41, 41);
    transition: 0.9s;
    transform: scale(1.05);
}

.nutzensection_card_favicon {
    height: 50px;
    width: 20px;
}

/*Media Queries*/
@media only screen and (max-width: 1200px){
    .nutzensection_content {
        justify-content: center;
    }
    .nutzensection_card {
        width: 45%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nutzensection_header {
        width: 15%;
    }
}

@media only screen and (max-width: 1090px){
    .nutzensection_content {
        justify-content: center;
    }
    .nutzensection_card {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nutzensection_header {
        width: 20%;
    }
}


@media only screen and (max-width: 920px) {
    .nutzen_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .nutzensection_header {
        width: 100%;
    }

    .nutzensection_content {
        width: 100%;
    }
}
