.nutzen_wrapper {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(100, 84, 106, 1) 0%, rgba(100, 84, 106, 0.9) 35%, rgba(100, 84, 106, 0.6) 100%);

    color: white;
    opacity: 0.9;
    padding-left: 80px; 
    padding-top: 45px;
    padding-bottom: 45px;
}

.nutzensection_header {
    display: flex;
    padding-top: 75px;
    padding-left: 45px;
    justify-content: center;
    letter-spacing: 1.9px;
    width: 25%; 
}

.nutzensection_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    padding: 30px 100px 40px;  
}

.nutzensection_card {
    width: 45%;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    border-radius: 6px;
    margin: 15px; 
}

.nutzensection_card:hover {
    opacity: 0.8;
    background-color: black;
    transition: 0.9s;
    transform: scale(1.05);
}

.section_card p {
    margin-top: 15px;
}

.icon {
    margin-bottom: 15px;
}

/*Media Queries*/
@media only screen and (max-width: 1200px){
    .nutzensection_content {
        justify-content: center;
    }
    .nutzensection_card {
        width: 45%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nutzensection_header {
        width: 15%;
    }
}

@media only screen and (max-width: 1090px){
    .nutzensection_content {
        justify-content: center;
    }
    .nutzensection_card {
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nutzensection_header {
        width: 20%;
    }
}

@media only screen and (max-width: 900px){
    .nutzensection_content {
        justify-content: center;
    }
    .nutzensection_card {
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nutzensection_header {
        width: 15%;
    }
}

@media only screen and (max-width: 720px) {
    .nutzen_wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
    }

    .nutzensection_header {
        display: flex;
        width: 80%;
        align-items: center;
        text-align: center;  
    }

    .nutzensection_content {
        width: 100%;
    }

}
