
.footer_wrapper {
    background-color: black;

}

.footer {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 45px;
    margin-bottom: 0;
    background-color: black;
    color: white;
}

.logo_footer {
    display: flex;
    width: 30%;
    height: auto;
    opacity: 0.8;
   
}

.logo_footer_img {
    width: 100%;
    height: auto;
   
}

.about {
   width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social {
   display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.social a {
    padding: 10px;
}

.social img {
    height: 70px;
    background-color: black;
    opacity: 1;
}

.contact {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact a {
    text-decoration: none;
    color: white;

}

.contact a:hover {
    color: rgba(235, 95, 74, 0.9);
}


.navbar_link_footer {
    
    text-decoration: none;
    color: white;
    padding: 0.2rem;
    
}

.navbar_link_footer:hover {
    color: rgba(235, 95, 74, 0.9);
    font-weight: bold;
    
}


@media screen and (max-width: 600px) {
    .footer {
        justify-content: space-between;
    }
    
    .logo_footer {
        display: none;
    }

    .about {
        width: 30%;
        padding: 0 5px;
}
    .contact {
        width: 60%;
        padding: 0 5px;
    }

}