/*
---------------------------
---------------------------
Allgemein
---------------------------
---------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  }

  p {
    letter-spacing: 1.3px; 
}

/*
----------
Heading
----------*/
h1, h2, h3, h4, h5{
  text-transform: uppercase;
  letter-spacing: 1.3px; 
}

h5, h6 {
letter-spacing: 1.3px;
}


/*
-----------------
Black Section
-----------------*/
.section_black {
  background-color: rgba(0,0,0,0.9);
  color: white;
  
  
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px 100px;
  transform: scale(90%);
  transition: 1.5s;  
}

.angebot_wrapper {
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  transform: scale(90%);
  transition: 1.5s;  
}

.angebot_wrapper--zoom {
  opacity: 1;
  transform:  scale(100%);
  transition: 1.5s;
}

#angebot_picture {
  height: 100%;
  width: 45%;
  color: black;
  display: flex;
  align-items: center;
  opacity: 0.8; 
  filter: grayscale(100%);
  margin: 0;
}


.wrapper--zoom {
  opacity: 1;
  transform:  scale(100%);
  transition: 1.5s;
}

.section_logo {
  width: 50%;
  color: black;
  padding: 0px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.section_content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 45px;
  text-align: center;
  max-width: 700px;

}

.section_content_title {
  text-align: center;
  padding: 15px 0px;
  
}

.section_content_title:after {
  
    content: "";
    display: block;
    width: 30%;
    height: 1px;
    background-color: white;
    margin: 1rem auto;

}

.button_black {
  border-radius: 4px;
  background: transparent;
  padding: 10px 20px;
  margin-top:25px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
}


.button_black:hover {
  color: white;
  background-color: black;
  font-weight: bold;
  opacity: 0.9;
  transform: scale(1.1);
  transition-duration: 1.5s;
}

/*
-------------------------------------------------------
-------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------
-------------------------------------------------------*/

/*
     ----------------------------
     MEDIA QUERY STORY COMPONENT
     ----------------------------*/
@media only screen and (max-width: 850px) {
  .wrapper {
  height: auto;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0px;
}

  .section_logo {
    height: 30%;
    width: 60%;
    padding-top: 40px;
    padding-bottom: 35px;
  }
  .section_content {
    height: 50%;
    width: 100%;
    padding-bottom: 25px;
  }
     }

@media only screen and (max-width: 650px) {
  .wrapper {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
  }
  
    .section_logo {
      height: 30%;
      width: 80%;
      padding-top: 40px;
      padding-bottom: 35px;
    }
    .section_content {
      height: 50%;
      width: 100%;
      padding-bottom: 25px;
    }
       }

     /*
     ----------------------------
     MEDIA QUERY DISG COMPONENT
     ----------------------------*/
     @media only screen and (max-width: 1000px) {
      #disg {
          height: auto;
          flex-direction: column-reverse;
          justify-content: center;
          padding-bottom: 70px;
      }
  
      #disg_logo {
          width: 60%;
          padding-top: 100px;
          padding-bottom: 35px;
      }

      #disg_content {
         height: 50%;
         width: 100%;
         
      }
  }
     @media only screen and (max-width: 850px) {
      
      #disg_logo {
          height: 80%;
          width: 70%;
          padding-top: 70px;
      }

      #disg_content {
        height: auto;
        padding-bottom: 35px;
        width: 100%;
  
    }
  }
  @media only screen and (max-width: 550px) {
    #disg {
        height: auto; 
    }

    #disg_logo {
        height: 100%;
        width: 100%;
        padding-top: 35px;
    }

    #disg_content {
      height: auto;
        padding-bottom: 35px;
        width: 100%;
  }
}

  /*
  -------------------------------
  MEDIA QUERY ANGEBOT COMPONENT
  -------------------------------*/
    @media only screen and (max-width: 850px) {
      #angebot {
          height: 130vh;
          flex-direction: column;
          height: auto;
          flex-direction: column;
          justify-content: center;
      }
      
    #angebot_picture {
          height: auto;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
    }

    #angebot_content {
      padding: 40px;
      
    }

  }

  

